@import "tailwindcss";

/* Aquí definimos nuestras variables globales para Tailwind v4 */
@theme {
  /* Colores Tekdrive */
  --color-tekdrive-red: #db5576;
  --color-tekdrive-red-hover: #c24a68;
  --color-tekdrive-blue: #003853;
  --color-tekdrive-footer: #4882a1;
  --color-tekdrive-footer-dark: #2a4555;
}

/* El resto de tu código base (si tienes algo más, déjalo aquí abajo) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}